* {
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  min-height: 100svh;
  /* background: linear-gradient(to bottom,rgb(78, 75, 75), rgb(47, 46, 46), rgb(26, 25, 25)); */
  background: linear-gradient(to bottom right, rgb(47, 46, 46), rgb(65, 63, 63), rgb(66, 47, 47), rgb(55, 34, 34));
}

nav {
    background: linear-gradient(to right, rgb(130, 18, 143), rgb(32, 35, 138), rgb(36, 132, 151), rgb(130, 18, 143));
    position: sticky;
    top: 0px;
    z-index: 2;
    /* animation: opacity 2s;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--scroll-animation-start));
    animation-range-end: calc(100vh + var(--scroll-animation-end));
    opacity: 0; */
  }
  /* @keyframes opacity{
    100%{
        opacity: 1;
    }
  } */

  nav .navbar {
    width: min(1450px, 100% - 5em);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center; /* Center-align items vertically */
  }
  nav .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 530;
    transition: color 0.3s ease;
  }
  nav .navbar a.disableMenu:hover {
    color: #641d6f;
    text-decoration: none;
  }
  nav .navbar .logo {
    cursor: default;
    font-weight: 800;
    font-size: 25px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(149, 173, 234), rgb(27, 69, 173), rgb(31, 36, 157), rgb(16, 20, 129));
    background-clip: text;
    color: transparent;
  }
  nav .navbar .logo img {
    width: 150px;
    height: 30px;
  }
  nav .navbar .menu {
    display: flex;
  }
  nav .navbar .menu li a {
    padding: 10px 14px;
  }
  nav .navbar .toggle {
    display: none;
  }
  nav .navbar a.active {
    color: #fed136;
  }

.header{
    text-align: center;
    padding-top: 60px;
}

@media screen and (width <= 900px) {
    nav {
      position: sticky;
      top: 0px;
    }
    nav .navbar .menu {
      opacity: 0;
      position: absolute;
      top: 100%;
      background: #2f2578;
      flex-direction: column;
      transform-origin: top;
      left: 0;
      width: 100%;
      text-align: center;
      scale: 1 0;
      transition: all 0.2s;
    }
    nav .navbar .menu.active {
      opacity: 1;
      scale: 1 1;
    }
    nav .navbar .title {
      padding: 10px 14px;
    }
    nav .navbar .toggle {
      display: block;
      border-radius: 5px;
      padding: 7px;
      border: none;
      background-color: #fed136;
      color: white;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover{
        background-color: #e6b301;
      }
      & i{ /* space between the icon and me menu text */
        padding-left: 7px;
        padding-right: 7px;
      }
    }
   }
  
  @media only screen and (min-width: 998px) {
    .navbar {
      padding-left: 75px;
      padding-right: 75px;
    }
  }
  
  @media only screen and (min-width <= 1200px) {
    .navbar{
      padding-left: 135px;
      padding-right: 135px;
    }
  }